<div class="footer-main" *ngIf="headerFooter">
    <div class="row">
      <div class="col-lg-4 col-md-12 m-md-auto align-self-center pl-5">
        <div class="block">
          <a href="#" routerLink="/"><img src="../../assets/logo.png" alt="footer-logo"></a>
          <!-- Social Site Icons -->
          <ul class="social-icon list-inline">
            <li class="list-inline-item">
              <!-- TODO add facebook link -->
              <a target="_blank" href="#"><i class="fab fa-facebook"></i></a>
            </li>
            <li class="list-inline-item">
              <!-- TODO add twitter link -->
              <a target="_blank" href="https://discord.gg/xgV9jeQSY2"><i class="fab fa-discord"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-6 mt-5 mt-lg-0 pl-5">
        <div class="block-2">
          <!-- heading -->
          <h6>Thông tin</h6>
          <!-- links -->
          <ul>
            <li><a href="#" routerLink="/guide">Hướng dẫn</a></li>
            <li><a href="#" routerLink="/rule">Chính sách</a></li>
            <li><a href="#" routerLink="/about">Chúng tôi</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-6 mt-5 mt-lg-0">
        <div class="block-2">
          <!-- heading -->
          <h6>Quản trị</h6>
          <!-- links -->
          <ul>
            <li><a href="#" routerLink="/auth/login">Đăng nhập</a></li>
            <li><a target="_blank" href="https://discord.gg/xgV9jeQSY2">Đóng góp</a></li>
          </ul>
        </div>
      </div>
    </div>
</div>
<div class="text-center bg-dark py-4" *ngIf="headerFooter">
  <small class="text-secondary">Copyright &copy; <script>document.write(new Date().getFullYear())</script>. Developed by <a target="_blank" href="https://discord.gg/xgV9jeQSY2">MHX THH 2021</a></small>
</div>
