<div class="footer-content">
  <div class="container">
    <div class="row">
      <div class="col-sm ">
        <div class="footer-content-support-title">HỖ TRỢ KHÁCH HÀNG</div>
        <div class="footer-content-support-content">
          <div class= "text">Hotline: 0845644566</div>
          <div class= "text">
            <a href="">Các câu hỏi thường gặp</a>
          </div>
          <div class= "text">
            <a href="">Gửi yêu cầu hỗ trợ</a>
          </div>
          <div class= "text">Hỗ trợ khách hàng:</div>
          <div class= "text">hotro.safago@gmail.com</div>
          <div class= "text">Báo lỗi bảo mật:</div>
          <div class= "text">security.safago@gmail.com</div>
        </div>
      </div>
      <div class="col-sm ">
        <div class="footer-content-support-title">VỀ SAFAGO</div>
        <div class="footer-content-support-content">
          <div class="text" ><a href="/hiring"> Tuyển Dụng </a></div>
          <div class="text" ><a href="/intro"> Giới thiệu SaFaGo </a></div>
          <div class="text" ><a href="/securityPay"> Chính sách bảo mật thanh toán </a></div>
          <div class="text" ><a href="securityInfo"> Chính sách bảo mật thông tin cá nhân </a></div>
          <div class="text" ><a href="complainResole"> Chính sách giải quyết khiếu nại </a></div>
          <div class="text" ><a href="rule"> Điều khoản sử dụng </a></div>
        </div>
      </div>

      <div class="col-sm ">
        <div class="footer-content-support-title">THANH TOÁN</div>
        <div class="footer-content-support-content icon">
          <div class="text" >
            <a href="">
              <img src="../../assets/svg/MomoIcon.svg" alt="">
            </a>
          </div>
          <div class="text" ><a href=""> <img src="../../assets/svg/PaypalIcon.svg" alt=""> </a></div>
        </div>
      </div>

      <div class="col-sm ">
        <div class="footer-content-support-title">THEO DÕI CHÚNG TÔI TRÊN</div>
        <div class="footer-content-support-content">
          <div class="text" >
            <a href="">
              <img src="../../assets/svg/fbIcon.svg" alt="">
              <span>Facebook</span>
            </a>
          </div>
          <div class="text" >
            <a href="">
              <img src="../../assets/svg/InstagramIcon.svg" alt="">
              <span>Instagram</span>
            </a>
          </div>

          <div class="text" >
            <a href="">
              <img src="../../assets/svg/YoutubeIcon.svg" alt="">
              <span>Youtube</span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-sm ">
        <div class="footer-content-support-title">HỢP TÁC VỚI CHÚNG TÔI</div>
        <div class="footer-content-support-content">
          <div class="text" ><a href="">Hướng dẫn đăng bài trên SaFaGo </a></div>
        </div>
      </div>
    </div>
  </div>
</div>
