<main>
  <div class="booking-complete-text">
    <p>
    Lựa chọn phương thức thanh toán
    </p>
  </div>
  <div class="qr-scan">
    <div class="qr-scan-tutor">
      <p class="bold">Bước 1</p>

      <p>Mở <span style="font-weight:bold !important;">ứng dụng MoMo</span> trên điện thoại</p>
      <p class="bold">Bước 2</p>
      <p>Trên Momo, chọn biểu tượng
        <img src="../../assets/svg/scanbtn.svg" alt=""> <span style="font-weight:bold !important;">quét mã</span>  </p>

      <p class="bold">Bước 3</p>
      <p>Quét mã QR ở trang này và thanh toán</p>
    </div>
    <div class="qr-scan-pay">
      <div class="pay-img">
        <img src="../../assets/svg/qr.svg" alt="">
      </div>
      <div class="pay-amount">
        Tổng tiền: <span style="opacity: 0;"> tabtab</span> <span style='font-weight:bold;'>40.000 đ</span>
      </div>
    </div>
  </div>
  <div class="booking-complete-button">
    <button style="width: 17%;" type="button" class="btn btn-success">Xác nhận</button>
  </div>
</main>


