<mat-spinner *ngIf='isLoading'></mat-spinner>
<form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
	<section class="form-border section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="block">
						<!-- Image -->
						<div class="image align-self-center"><img class="img-fluid p-2" src="../../../assets//images/e-book.png"
							alt="desk-image"></div>
						<!-- Content -->
						<div class="content text-center">
							<div class="logo">
								<a href="#" routerLink="/"><img src="../../../assets/logo.png" alt=""></a>
							</div>
							<div class="title-text">
								<h3>Đăng nhập vào hệ thống</h3>
							</div>
								<!-- Username -->
								<input ngModel class="form-control main" name="email" type="text" #emailInput="ngModel" placeholder="Email" required>
								<!-- Password -->
								<input ngModel class="form-control main" name="password" type="password" #passworInput="ngModel" placeholder="Password" required>
								<!-- Submit Button -->
								<button class="btn btn-main-sm">Đăng nhập</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</form>
