<div class="userinfo__address-tag">
    <div class="userinfo__address-tag__header">
        <div class="userinfo__address-tag__title">
            <div id="tag-name" class="userinfo__address-tag__name">
                HỌ VÀ TÊN
            </div>
            <div class="userinfo__address-tag__select">
                Địa chỉ mặc định
            </div>
        </div>
        <div class="userinfo__address-tag__update">
            <div id="tag-edit" class="userinfo__address-tag__edit">Chỉnh sửa</div>
            <div id="tag-delete" class="userinfo__address-tag__delete">Xoá</div>
        </div>
    </div>
    <div class="userinfo__address-tag__address">
        <div class="userinfo__address-tag__label">
            Địa chỉ:
        </div>
        <div class="userinfo__address-tag__text">
            <div>Khu phố 6</div>,
            <div>Linh Trung</div>,
            <div>Thủ Đức</div>,
            <div>Thành phố Hồ Chí Minh</div>
        </div>
    </div>
    <div class="userinfo__address-tag__phone">
        <div class="userinfo__address-tag__label">
            Điện thoại:
        </div>
        <div class="userinfo__address-tag__text">
            0845644566
        </div>
    </div>
</div>