<div class="partnerinfo__blankspace"></div>
<div class="partnerinfo">
  <div class="partnerinfo__sidebar">
    <app-partnersidebar></app-partnersidebar>
  </div>
  <div id="partnerinfo-manage" class="partnerinfo-manage">
    <app-partnermanage></app-partnermanage>
  </div>
  <div id="partnerinfo-account" class="partnerinfo-account">
    <app-partneraccount></app-partneraccount>
  </div>
  <div id="partnerinfo-status" class="partnerinfo-status">
    <app-partnerstatus></app-partnerstatus>
  </div>
  <div id="partnerinfo-package" class="partnerinfo-package">
    <app-partnerpackage></app-partnerpackage>
  </div>
  <div id="partnerinfo-statistic" class="partnerinfo-statistic">
    <app-partnerstatistic></app-partnerstatistic>
  </div>
  <div id="partnerinfo-post" class="partnerinfo-post">
    <app-partnerpost></app-partnerpost>
  </div>
</div>
