<div class="service">
    <div class="service-tag__name">Gói người dùng 1</div>
    <div class="service-tag__content">
        <div class="service-tag__label">Ưu đãi: </div>
        <div class="service-tag__value">Giảm giá 20% khi đặt đơn hàng</div>
    </div>
    <div class="service-tag__valid">
        <div class="service-tag__label">Thời hạn: </div>
        <div class="service-tag__value">1 năm</div>
    </div>
    <div class="service-tag__price">
        <div class="price-value">1.000.000</div>
        <div class="price-unit">vnđ</div>
    </div>
</div>
