<app-header-inside></app-header-inside>
<div class="userinfo__blankspace"></div>
<div class="userinfo">
  <div class="userinfo__sidebar">
    <app-usersidebar></app-usersidebar>
  </div>
  <div class="userinfo-account" id="userinfo-account">
    <app-useraccount></app-useraccount>
  </div>
  <div class="userinfo-manage" id="userinfo-manage">
    <app-usermanage></app-usermanage>
  </div>
  <div class="userinfo-service" id="userinfo-service">
    <app-userservice></app-userservice>
  </div>
  <div class="userinfo-address" id="userinfo-address">
    <app-useraddress></app-useraddress>
  </div>
  <div class="userinfo-status" id="userinfo-status">
    <app-userstatus></app-userstatus>
  </div>
</div>
<div class="userinfo__blankspace"></div>
