<main>
  <div class="booking-complete-text">
    <p>
    Lựa chọn phương thức thanh toán
    </p>
  </div>
  <div class="select-payment">
    <div id="box" class="col-md-4">
      <div class="panel panel-default">
          <div class="panel-body">
              <div class="radio">
                  <label>
                      <input type="radio" name="anynum" id="paypal">
                      <img src="../../assets/svg/paypal-Logo_Small.svg" alt="">
                      <span>
                        Thanh toán bằng Paypal
                      </span>
                  </label>
                  <div></div>
                  <label>
                      <input type="radio" name="anynum" id="momo">
                      <img src="../../assets/svg/momo-Logo_Small.svg" alt="">
                      <span>
                        Thanh toán bằng Ví Momo
                      </span>
                  </label>
              </div>
          </div>
      </div>
  </div>
  </div>
  <div class="booking-complete-button">
    <button style="width: 17%;" type="button" class="btn btn-success">Xác nhận</button>
  </div>
</main>


