<div class="manage-title">Quản lý đơn hàng</div>
<div class="manage-container">
    <div class="manage-month">
        <div class="manage-label">Đơn hàng trong tháng</div>
        <div class="manage-value">1.700</div>
        <div id="manage-btn-1" class="manage-btn">Xem</div>
    </div>
    <div class="manage-week">
        <div class="manage-label">Tuần này</div>
        <div class="manage-value">700</div>
        <div id="manage-btn-2" class="manage-btn">Xem</div>
    </div>
    <div class="manage-best">
        <div class="manage-label">Nhiều nhất trong tháng</div>
        <div class="manage-value">Grab Express</div>
        <div id="manage-btn-3" class="manage-btn">Xem</div>
    </div>
</div>