<div class="modal fade" id="SuaSoDoan" tabindex="-1" role="dialog" aria-labelledby="XuatBienNhanModelLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="XuatBienNhanModelLabel">Chỉnh sửa thông tin sổ Đoàn</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div style="display: flex; justify-content: center;" *ngIf="step==2">
        <mat-spinner></mat-spinner>
      </div>
      <div class="model-body" *ngIf="step==1">
        <form [formGroup]="editBookForm" (ngSubmit)="onEditBook()" ngNativeValidate id="editBookForm">
          <div class="container">
            <div class="row" style="flex-wrap: unset;">
              <div class="col">
                <label for="name">Họ và tên: </label>
              </div>
              <div class="col-9">
                <input id="name" type="text" formControlName="name" class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="sid">MSSV: </label>
                <input id="sid" type="text" formControlName="sid" class="form-control" disabled>
              </div>
              <div class="col-sm">
                <label for="ngayVaoDoan">Ngày vào Đoàn: </label>
                <input id="ngayVaoDoan" type="date" formControlName="ngayVaoDoan" class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="birthday">Ngày sinh: </label>
                <input id="birthday" type="date" formControlName="birthday" class="form-control">
              </div>
              <div class="col-sm">
                <label for="gender">Giới tính: </label>
                <select formControlName="gender" class="form-control">
                  <option *ngFor="let gender of genders" [ngValue]="gender.gender">{{gender.gender}}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="faculty">Khoa: </label>
                <select formControlName="faculty" class="form-control"
                  (change)='onfacultySelectChange(facultySelect.value)' #facultySelect>
                  <option *ngFor="let faculty of faculities" value="{{faculty.name}}">{{faculty.name}}</option>
                </select>
              </div>
              <div class="col-sm">
                <label for="class">Chi Đoàn: </label>
                <select formControlName="class" class="form-control" ngModel>
                  <option [ngValue]="'Không'">Không</option>
                  <option *ngFor="let class of classes" [ngValue]="class.id">{{class.id}}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="phone">Số điện thoại: </label>
                <input id="phone" type="number" formControlName="phone" class="form-control">
              </div>
              <div class="col-sm">
                <label for="email">Email: </label>
                <input id="email" type="email" formControlName="email" class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="idcard">CMND: </label>
                <input id="idcard" type="number" formControlName="idcard" class="form-control">
              </div>
              <div class="col-sm">
                <label for="ngayVaoDang">Ngày vào Đảng: </label>
                <input id="ngayVaoDang" type="date" formControlName="ngayVaoDang" class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="canBoLop">Chức vụ lớp ở THPT: </label>
                <select ngModel name="canBoLop" class="form-control main" id="canBoLop">
                  <option value="Lớp trưởng">Lớp trưởng</option>
                  <option value="Lớp phó">Lớp phó</option>
                  <option value="Khác">Khác</option>
                </select>
              </div>
              <div class="col-sm">
                <label for="canBoDoan">Chức vụ Đoàn ở THPT: </label>
                <select ngModel name="canBoDoan" class="form-control main" id="canBoDoan">
                  <option value="Bí thư Đoàn trường">Bí thư Đoàn trường</option>
                  <option value="Phó Bí thư Đoàn trường">Phó Bí thư Đoàn trường</option>
                  <option value="UVBCH Đoàn trường">UVBCH Đoàn trường</option>
                  <option value="Bí thư chi Đoàn">Bí thư chi Đoàn</option>
                  <option value="Phó Bí thư chi Đoàn">Bí thư chi Đoàn</option>
                  <option value="UVBCH chi Đoàn">UVBCH chi Đoàn</option>
                  <option value="Khác">Khác</option>
                </select>
              </div>
            </div>
            <div class="row" style="flex-wrap: unset;">
              <div class="col">
                <label for="talent">Năng khiếu: </label>
              </div>
              <div class="col-9">
                <input id="talent" type="text" formControlName="talent" class="form-control">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" *ngIf="step==1">Hủy</button>
            <button type="submit" class="btn btn-primary" *ngIf="step==1">Xác nhận</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" *ngIf="step==3">Đóng</button>
          </div>
        </form>
      </div>
      <div style="display: flex; justify-content: center;" *ngIf="step==3">
        Chỉnh sửa thành công!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" *ngIf="step==3">Đóng</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <h2>Sổ Đoàn đã được duyệt</h2>
  <hr>
  <div>
    <div class="row mb-4">

      <div class="col-md-12">
        <div class="card border-0 rounded-0">
          <div class="card-title mb-1 p-3">
            <h5>Basic table</h5>
          </div>
          <div class="card-body">
            <div class="table-responsive-md">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">MSSV</th>
                    <th scope="col">Tên</th>
                    <th scope="col">Ngày sinh</th>
                    <th scope="col">Giới tính</th>
                    <th scope="col">Chi Đoàn</th>
                    <th scope="col">Khoa</th>
                    <th scope="col">SĐT</th>
                    <th scope="col">Email</th>
                    <th scope="col">Năng khiếu</th>
                    <th scope="col">Thao tác</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let book of books">
                    <th scope="row" id="{{book.SID+'_sid'}}">{{book.SID}}</th>
                    <td id="{{book.SID+'_name'}}">{{book.Name}}</td>
                    <td id="{{book.SID+'_birthday'}}">{{book.DOB | date:'yyyy-MM-dd'}}</td>
                    <td id="{{book.SID+'_gender'}}">{{book.Gender}}</td>
                    <td id="{{book.SID+'_class'}}">{{book.Class}}</td>
                    <td id="{{book.SID+'_faculty'}}">{{book.Faculty}}</td>
                    <td id="{{book.SID+'_phone'}}">{{book.Phone}}</td>
                    <td id="{{book.SID+'_email'}}">{{book.Email}}</td>
                    <td id="{{book.SID+'_talent'}}">{{book.Talent}}</td>
                    <td>
                      <a class="btn btn-sm btn-outline-lightning rounded-0 mr-2" (click)="onChangeEditBook(book)"
                        data-toggle="modal" data-target="#SuaSoDoan">
                        <i class="fa fa-edit"></i>
                      </a>
                      <a class="btn btn-sm btn-outline-lightning rounded-0">
                        <i class="far fa-trash-alt"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
