<div class="status-title">Trạng thái đơn hàng</div>
<div class="status-container">
    <app-userstatus--date></app-userstatus--date>
    <app-userstatus--event></app-userstatus--event>
</div>
<div class="descrip-title">Mô tả kiện hàng</div>
<div class="descrip-container">
    <div class="descrip-img">
        <img src="" alt="">
    </div>
    <div class="descrip-text">
        <div class="descrip-type">
            <div class="descrip-title">Loại hàng: </div>
            <div class="descrip-value">Gói hàng</div>
        </div>
        <div class="descrip-size">
            <div class="descrip-title">Kích thước: </div>
            <div class="descrip-value">5 x 10 x 5 cm</div>
        </div>
        <div class="descrip-weight">
            <div class="descrip-title">Khối lượng: </div>
            <div class="descrip-value">300 gram</div>
        </div>
    </div>
</div>