<div class="account-title">Thông tin tài khoản</div>
<div class="account">
    <div class="account__name">
        <div class="account-label">Họ tên</div>
        <div class="account-value">Họ và Tên</div>
    </div>
    <div class="account__phone">
        <div class="account-label">Số điện thoại</div>
        <div class="account-value">
            <input type="text" class="account__phone-input" placeholder="Hãy nhập SĐT để trải nghiệm tốt hơn">
            <div class="account__phone-btn">
                <button>Gửi mã xác thực</button>
            </div> 
        </div>
    </div>
    <div class="account__verify">
        <div class="account-label">Mã xác thực</div>
        <input type="text" class="account-value" placeholder="Nhập mã xác thực">
    </div>
    <div class="account__email">
        <div class="account-label">Email</div>
        <div class="account-value">Email@gmail.com</div>
    </div>
    <div class="account__gender">
        <div class="account-label">Giới tính</div>
        <div class="account-value" id="account__gender">
            <div class="account-value__text" id="account-value__text">Nam</div>
            <img src="../../../assets/svg/Arrow.svg" alt="" class="account-value__arrow">
        </div>
        <div class="account__gender-menu" id="account__gender-menu">
            <ul>
                <li class="account__gender-item" id="account__gender-item-1">Nam</li>
                <li class="account__gender-item" id="account__gender-item-2">Nữ</li>
                <li class="account__gender-item" id="account__gender-item-3">Khác</li>
            </ul>
        </div>
    </div>
    <div class="account__birthday">
        <div class="account-label">Ngày sinh</div>
        <input type="date" value="2000-06-11" class="account-value">
    </div>
    <div class="account__type">
        <div class="account-label">Loại tài khoản</div>
        <div class="account-value">Cá nhân</div>
    </div>
    <button class="address-complete--btn">Cập Nhật</button>
</div>
