<form (submit)="onAddBook(addBookForm)" #addBookForm="ngForm" ngNativeValidate>
  <section class="form-border section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="block">
						<!-- Image -->
						<div class="image align-self-center"><img class="img-fluid p-2" src="../../assets//images/e-book.png"
							alt="desk-image"></div>
						<!-- Content -->
						<div class="content text-center">
							<div class="logo">
								<a href="#" routerLink="/"><img src="../../assets/logo.png" alt=""></a>
							</div>
							<div class="title-text">
								<h3>Khai báo sổ đoàn</h3>
							</div>
              <h5 class="">Thông tin chung</h5>
								<input ngModel class="form-control main" name="name" type="text" placeholder="Nhập họ và tên" required>
                <div class="row">
                  <div class="col-md-6 col-12">
                    <label class="form-check-label">
                      Mã số sinh viên
                    </label>
                    <input ngModel class="form-control main" name="studentID" type="number" placeholder="Nhập MSSV" required>
                  </div>
                  <div class="col-md-6 col-12">
                    <label class="form-check-label">
                      Ngày vào Đoàn
                    </label>
                    <input ngModel class="form-control main" name="ngayVaoDoan" type="date" placeholder="Ngày vào Đoàn" required>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-12">
                    <label class="form-check-label">
                      Ngày sinh
                    </label>
                    <input ngModel class="form-control main" name="birthday" type="date" placeholder="Ngày tháng năm sinh" required>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="form-group">
                      <label class="form-check-label">
                        Giới tính
                      </label>
                      <select ngModel name="gender" class="form-control main" required>
                        <option value="Nam" selected>Nam</option>
                        <option value="Nữ">Nữ</option>
                        <option value="Khác">Khác</option>
                      </select>
                    </div>
                  </div>
                </div>

                <h5 class="">Thông tin Chi đoàn</h5>
                <div class="row">
                  <div class="col-md-6 col-12">
                    <div class="form-group">
                      <label class="form-check-label">Khoa</label>
                      <select ngModel class="form-control main" name="faculity"
                        #facultySelect
                        (change)='onfacultySelectChange(facultySelect.value)'
                      >
                        <option *ngFor="let faculity of faculities" value="{{faculity.name}}">
                          {{faculity.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="form-group">
                      <label>Chi đoàn</label>
                      <select ngModel name="class" class="form-control main" required>
                        <option class="class-item" *ngFor="let class of classes" value="{{class.id}}">{{class.id}}</option>
                      </select>
                    </div>
                  </div>
                </div>

                <h5 class="">Thông tin Cá nhân</h5>
                <input ngModel class="form-control main" name="phonenumber" type="text" placeholder="Số điện thoại" required>
                <input ngModel class="form-control main" name="email" type="email" placeholder="Email" required>
                <input ngModel class="form-control main" name="idcard" type="number" placeholder="Số CCCD/CMND" required>
                <div class="row">
                  <div class="col-md-6 col-12">
                    <div class="form-control main form-check">
                      <input class="form-check-input" [(ngModel)]="laDangVien" type="checkbox" id="laDangVien">
                      <label class="form-check-label" for="laDangVien">
                        Đã là Đảng viên
                      </label>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <input *ngIf="laDangVien" ngModel class="form-control main" name="ngayVaoDang" value="2019-03-26" type="date" placeholder="Ngày vào Đảng" required>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-12">
                    <div class="form-control main form-check">
                      <input class="form-check-input" [(ngModel)]="laCanBoLop" type="checkbox" id="laCanBoLop">
                      <label class="form-check-label" for="laCanBoLop">
                        Là Cán bộ Chi đoàn
                      </label>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <input *ngIf="laCanBoLop" ngModel class="form-control main" name="chucVuCanBoLop" type="text" placeholder="Nhập chức vụ" required>
                  </div>
                </div>
                  <textarea ngModel class="form-control main" name="talent" type="text" rows="10" placeholder="Các năng khiếu sở trường ..." required ></textarea>
								<!-- Submit Button -->
								<button class="btn btn-main-sm">Khai báo</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</form>
