<form (submit)="onAddBook(addBookForm)" #addBookForm="ngForm" ngNativeValidate>
  <section class="form-border section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="block">
						<!-- Image -->
						<div class="image align-self-center"><img class="img-fluid p-2" src="../../assets//images/e-book.png"
							alt="desk-image"></div>
						<!-- Content -->
						<div class="content text-center">
							<div class="logo">
								<a href="#" routerLink="/"><img src="../../assets/logo.png" alt=""></a>
							</div>
							<div class="title-text">
								<h3>Khai báo sổ đoàn</h3>
							</div>
              <h5 class="">Thông tin chung</h5>
								<input ngModel class="form-control main" name="name" type="text" placeholder="Nhập họ và tên" required>
                <div class="row">
                  <div class="col-md-6 col-12">
                    <label class="form-check-label">
                      Mã số sinh viên
                    </label>
                    <input ngModel class="form-control main" name="studentID" type="number" placeholder="Nhập MSSV" required>
                  </div>
                  <div class="col-md-6 col-12">
                    <label class="form-check-label">
                      Ngày vào Đoàn
                    </label>
                    <input ngModel class="form-control main" name="ngayVaoDoan" type="date" placeholder="Ngày vào Đoàn" required>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-12">
                    <label class="form-check-label">
                      Ngày sinh
                    </label>
                    <input ngModel class="form-control main" name="birthday" type="date" placeholder="Ngày tháng năm sinh" required>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="form-group">
                      <label class="form-check-label">
                        Giới tính
                      </label>
                      <select ngModel name="gender" class="form-control main" required>
                        <option value="Nam" selected>Nam</option>
                        <option value="Nữ">Nữ</option>
                        <option value="Khác">Khác</option>
                      </select>
                    </div>
                  </div>
                </div>

                <h5 class="">Thông tin Chi đoàn</h5>
                <div class="row">
                  <div class="col-md-6 col-12">
                    <div class="form-group">
                      <label class="form-check-label">Khoa</label>
                      <select ngModel class="form-control main" name="faculity"
                        #facultySelect
                        (change)='onfacultySelectChange(facultySelect.value)'
                      >
                        <option *ngFor="let faculity of faculities" value="{{faculity.name}}">
                          {{faculity.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="form-group">
                      <label>Chi đoàn</label>
                      <select ngModel name="class" class="form-control main" required>
                        <option class="class-item" *ngFor="let class of classes" value="{{class.id}}">{{class.id}}</option>
                      </select>
                    </div>
                  </div>
                </div>

                <h5 class="">Thông tin Cá nhân</h5>
                <input ngModel class="form-control main" name="phonenumber" type="text" placeholder="Số điện thoại" required>
                <input ngModel class="form-control main" name="email" type="email" placeholder="Email" required>
                <input ngModel class="form-control main" name="idcard" type="number" placeholder="Số CCCD/CMND" required>
                <div class="row">
                  <div class="col-md-6 col-12">
                    <div class="form-control main form-check">
                      <input class="form-check-input" [(ngModel)]="laDangVien" type="checkbox" id="laDangVien">
                      <label class="form-check-label" for="laDangVien">
                        Đã là Đảng viên
                      </label>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <input *ngIf="laDangVien" ngModel class="form-control main" name="ngayVaoDang" value="2019-03-26" type="date" placeholder="Ngày vào Đảng" required>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-12">
                    <div class="form-control main form-check">
                      <input class="form-check-input" [(ngModel)]="laCanBoLop" type="checkbox" id="laCanBoLop">
                      <label class="form-check-label" for="laCanBoLop">
                        Là Cán bộ Chi đoàn
                      </label>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <input *ngIf="laCanBoLop" ngModel class="form-control main" name="chucVuCanBoLop" type="text" placeholder="Nhập chức vụ" required>
                  </div>
                </div>
                  <textarea ngModel class="form-control main" name="talent" type="text" rows="10" placeholder="Các năng khiếu sở trường ..." required ></textarea>
								<!-- Submit Button -->
								<button class="btn btn-main-sm">Khai báo</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
=======
<div class="title">Yêu cầu nộp sổ Đoàn</div>
<div class="account">
  <div class="input">
    <div class="label">MSSV</div>
    <input type="number" class="value" placeholder="Nhập MSSV" name="studentID" ngModel required>
  </div>
  <div class="input">
    <div class="label">Họ và tên</div>
    <input type="text" class="value" placeholder="Nhập họ và tên" name="name" ngModel required>
  </div>
  <div class="day">
    <div class="label">Ngày sinh</div>
    <input type="date" value="2003-01-01" class="value" name="birthday" ngModel required>
  </div>
  <div class="gender" id="gender">
    <div class="label">Giới tính</div>
    <div class="value" (click)="onGender()">
      <div class="value__text" id="value__text">Nam</div>
      <img src="../../../assets/svg/Arrow.svg" alt="" class="value__arrow">
    </div>
    <div class="gender-menu" id="gender-menu">
      <ul>
        <li class="gender-item" id="gender-item-1" (click)="onItem1()">Nam</li>
        <li class="gender-item" id="gender-item-2" (click)="onItem2()">Nữ</li>
        <li class="gender-item" id="gender-item-3" (click)="onItem3()">Khác</li>
      </ul>
    </div>
  </div>
  <div class="faculity" id="faculity">
    <div class="label">Khoa</div>
    <div class="value" (click)="onFaculity()">
      <div class="value__text" id="faculity_value__text">{{selectedFaculity}}</div>
      <img src="../../../assets/svg/Arrow.svg" alt="" class="value__arrow">
    </div>
    <div class="faculity-menu" id="faculity-menu">
      <ul>
        <li class="faculity-item" *ngFor="let faculity of faculities" (click)="onSelectedFaculity(faculity)">
          {{faculity.name}}</li>
      </ul>
    </div>
  </div>
  <div class="class" id="class">
    <div class="label">Lớp</div>
    <div class="value" (click)="onClass()">
      <div class="value__text" id="class_value__text">{{selectedClass}}</div>
      <img src="../../../assets/svg/Arrow.svg" alt="" class="value__arrow">
    </div>
    <div class="class-menu" id="class-menu">
      <ul>
        <li class="class-item" *ngFor="let class of classes" (click)="onSelectedClass(class)">{{class.id}}</li>
      </ul>
    </div>
  </div>
  <div class="input">
    <div class="label">SĐT</div>
    <input type="number" class="value" placeholder="Nhập số điện thoại" name="phonenumber" ngModel required>
  </div>
  <div class="input">
    <div class="label">Email</div>
    <input type="email" class="value" placeholder="Nhập email" name="email" ngModel required>
  </div>
  <div class="input">
    <div class="label">Số CMND/CCCD</div>
    <input type="number" class="value" placeholder="Nhập số CMND/CCCD" name="idcard" ngModel required>
  </div>
  <div class="day">
    <div class="label">Ngày vào Đoàn</div>
    <input type="date" value="2019-03-26" class="value" name="ngayVaoDoan" ngModel>
  </div>
  <div class="input">
    <div class="label">Là Đảng viên</div>
    <mat-checkbox [(ngModel)]="laDangVien" id="laDangVien" name="laDangVien"></mat-checkbox>
  </div>
  <div class="day" id="ngayVaoDang" *ngIf="laDangVien">
    <div class="label">Ngày vào Đảng</div>
    <input type="date" value="2019-01-01" class="value" name="ngayVaoDang" ngModel>
  </div>
  <div class="input">
    <div class="label">Là Cán bộ lớp ở THPT</div>
    <mat-checkbox [(ngModel)]="laCanBoLop" id="laCanBoLop" name="laCanBoLop"></mat-checkbox>
  </div>
  <div class="input" *ngIf="laCanBoLop">
    <div class="label">Chức vụ</div>
    <input type="text" class="value" placeholder="Nhập chức vụ cán bộ lớp đã làm ở THPT" name="chucVuCanBoLop" ngModel>
  </div>
  <div class="input">
    <div class="label">Là Cán bộ Đoàn ở THPT</div>
    <mat-checkbox [(ngModel)]="laCanBoDoan" id="laCanBoDoan" name="laCanBoDoan"></mat-checkbox>
  </div>
  <div class="input" *ngIf="laCanBoDoan">
    <div class="label">Chức vụ</div>
    <input type="text" class="value" placeholder="Nhập chức vụ cán bộ Đoàn đã làm ở THPT" name="chucVuCanBoDoan" ngModel required>
  </div>
  <div class="input">
    <div class="label">Năng khiếu</div>
    <input type="text" class="value" placeholder="Nhập năng khiếu, sở trường của bạn" name="talent" ngModel>
  </div>
  <button type="submit" class="address-complete--btn">Gửi</button>
</div>
</form>
