<div class="sidebar">
    <div class="sidebar--title">
        <div class="sidebar--title__left">
            <img src="../../../assets/svg/GrabLogo.svg" alt="" class="sidebar--title__img">
        </div>
        <div class="sidebar--title__right">
            <div class="sidebar--title__text">Tài khoản của</div>
            <div class="sidebar--title__name">Grab Express</div>
        </div>
    </div>
    <div id="sidebar-account" class="sidebar-account">
        <button>
            <img src="../../../assets/svg/Infor.svg" alt="" class="sidebar--infoaccount__icon">
            <div class="sidebar--infoaccount__text">Thông tin tài khoản</div>
        </button>
    </div>
    <div id="sidebar-manage" class="sidebar-manage">
        <button>
            <img src="../../../assets/svg/Manage.svg" alt="" class="sidebar--order__icon">
            <div class="sidebar--order__text">Quản lý đơn hàng</div>
        </button>
    </div>
    <div id="sidebar-statistic" class="sidebar-statistic">
        <button>
            <img src="../../../assets/svg/Register.svg" alt="" class="sidebar--package__icon">
            <div class="sidebar--package__text">Thống kê</div>
        </button>
    </div>
    <div id="sidebar-package" class="sidebar-package">
        <button>
            <img src="../../../assets/svg/image 42.svg" alt="" class="sidebar--address__icon">
            <div class="sidebar--address__text">Gói dịch vụ</div>
        </button>
    </div>
</div>