<div class="body">
  <div class="partnerImg">
    <div class="partnerImgRow1">
      <mat-grid-list cols="6" rows="2" rowHeight="2:1" [gutterSize]="'10px'">
        <mat-grid-tile colspan="4" rowspan="2">
          <img src="../../assets/svg/WEBSITE.png" alt="" />
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <img src="../../assets/svg/partner.svg" alt="" />
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <img src="../../assets/svg/partner.svg" alt="" />
        </mat-grid-tile>
        <mat-grid-tile colspan="3">
          <img src="../../assets/svg/partner.svg" alt="" />
        </mat-grid-tile>
        <mat-grid-tile colspan="3">
          <img src="../../assets/svg/partner.svg" alt="" />
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div class="partnerImgRow2"></div>
  </div>
  <div class="locationSelect">
    <div class="location-received">
      <div class="title">
        <mat-label >Nhận hàng tại</mat-label>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Tỉnh/Thành phố</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Quận/Huyện</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Phường/Xã</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <input matInput placeholder="Nhập địa chỉ">
      </mat-form-field>
    </div>
    <div class="location-delivery">
      <div class="title">
        <mat-label >Giao đến</mat-label>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Tỉnh/Thành phố</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Quận/Huyện</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Phường/Xã</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <input matInput placeholder="Nhập địa chỉ">
      </mat-form-field>
    </div>
  </div>
</div>
