<div class="address">
    <div class="address-title">Sổ địa chỉ</div>
    <div class="address-add-btn" id="address-add-btn">
        <button>
            <div class="address-add-btn__plus">+</div>
            <div class="address-add-btn__text">Thêm địa chỉ mới</div>
        </button>
    </div>
    <div id="address-add" class="address-add">
        <app-useraddress--add></app-useraddress--add>
    </div>
    <div id="address-tag-1" class="address-tag userinfo__address-tag__isselect">
        <app-useraddress--tag></app-useraddress--tag>
    </div>
    <div id="address-tag-2" class="address-tag">
        <app-useraddress--tag></app-useraddress--tag>
    </div>
</div>