.package-title {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin: 25px 0;
    width: 100%;
}

.package-text {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}
