<div class="status-title">Trạng thái đơn hàng</div>
<div class="status-container">
    <div id="status-btn" class="status-btn">
        <div class="status-plus">+</div>
        <div class="status-text">Thêm sự kiện mới</div>
    </div>
    <div id="status-add" class="status-add">
        <input type="text" class="status-add--time" placeholder="00:00">
        <input type="text" class="status-add--event" placeholder="Sự kiện mới"> 
        <div id="status-add--btn" class="status-add--btn">Xác Nhận</div>
    </div>

    <app-partnerstatus--date></app-partnerstatus--date>
    <app-partnerstatus--event></app-partnerstatus--event>
</div>
<div class="descrip-title">Mô tả kiện hàng</div>
<div class="descrip-container">
    <div class="descrip-img">
        <img src="" alt="">
    </div>
    <div class="descrip-text">
        <div class="descrip-type">
            <div class="descrip-title">Loại hàng: </div>
            <div class="descrip-value">Gói hàng</div>
        </div>
        <div class="descrip-size">
            <div class="descrip-title">Kích thước: </div>
            <div class="descrip-value">5 x 10 x 5 cm</div>
        </div>
        <div class="descrip-weight">
            <div class="descrip-title">Khối lượng: </div>
            <div class="descrip-value">300 gram</div>
        </div>
    </div>
</div>