<div class="address--add">
    <div class="address--add__name">
        <div class="address--add-label">Họ tên</div>
        <div class="address--add__name-value">Họ và Tên</div>
    </div>
    <div class="address--add__phone">
        <div class="address--add-label">Số điện thoại</div>
        <input id="add-phone" type="text" placeholder="Nhập Số điện thoại" class="address--add-value">
    </div>
    <div class="address--add__city">
        <div class="address--add-label">Tỉnh/Thành phố</div>
        <input id="add-city" type="text" placeholder="Nhập Tỉnh/Thành phố" class="address--add-value">
    </div>
    <div class="address--add__district">
        <div class="address--add-label">Số điện thoại</div>
        <input id="add-district" type="text" placeholder="Nhập Quận/Huyện" class="address--add-value">
    </div>
    <div class="address--add__ward">
        <div class="address--add-label">Phường/Xã</div>
        <input id="add-ward" type="text" placeholder="Nhập Phường/Xã" class="address--add-value">
    </div>
    <div class="address--add__address">
        <div class="address--add-label">Địa chỉ</div>
        <input id="add-address" type="text" placeholder="Nhập Địa chỉ" class="address--add-value">
    </div>
    <div class="address--add__default">
        <input type="checkbox" class="address--add__default-checkbox">
        <div class="address--add-label">Đặt làm địa chỉ mặc định</div>
    </div>
    <button id="address-add-button" class="address-add-button">Cập Nhật</button>
</div>