<div class="account-title">Quản lý người dùng</div>
<div class="account-container">
    <div class="account-all">
        <div class="account-label">Tổng số người dùng</div>
        <div class="account-value">1.700</div>
        <div id="account-btn-1" class="account-btn">Xem</div>
    </div>
    <div class="account-user">
        <div class="account-label">Người dùng cá nhân</div>
        <div class="account-value">1.670</div>
        <div id="account-btn-2" class="account-btn">Xem</div>
    </div>
    <div class="account-new">
        <div class="account-label">Thêm mới trong tuần</div>
        <div class="account-value">110</div>
        <div id="account-btn-4" class="account-btn">Xem</div>
    </div>
</div>