<div class="post-title">Đăng bài</div>
<div class="post-container">
    <div>
        <div class="post-label">Tên đơn vị</div>
        <div class="post-value">Grab Express</div>
    </div>
    <div>
        <div class="post-label">Giá dưới 1km</div>
        <div class="post-value">
            <input type="text">
        </div>
    </div>
    <div>
        <div class="post-label">Giá từ km thứ 2</div>
        <div class="post-value">
            <input type="text">
        </div>
    </div>
    <div>
        <div class="post-label">Phụ thu sản phẩm nặng</div>
        <div class="post-value">
            <input type="text">
        </div>
    </div>
    <div>
        <div class="post-label">Phụ thu sản phẩm to</div>
        <div class="post-value">
            <input type="text">
        </div>
    </div>
    <div>
        <div class="post-label">Phụ thu giao hàng trong 2h</div>
        <div class="post-value">
            <input type="text">
        </div>
    </div>
    <div>
        <div class="post-label">Phụ thu giao hàng trong 1h</div>
        <div class="post-value">
            <input type="text">
        </div>
    </div>
    <div>
        <div class="post-label">Phụ thu giao hàng trong 30p</div>
        <div class="post-value">
            <input type="text">
        </div>
    </div>
    <div id="post-btn" class="post-btn">Xác Nhận</div>
</div>