<div class="account-title">Thông tin tài khoản</div>
<div class="account">
    <div class="account__name">
        <div class="account-label">Tên đơn vị</div>
        <div class="account-value">Grab Express</div>
    </div>
    <div class="account__phone">
        <div class="account-label">Số điện thoại</div>
        <div class="account-value">0123456789</div>
    </div>
    <div class="account__date">
        <div class="account-label">Ngày tham gia</div>
        <div class="account-value">1/1/2021</div>
    </div>
    <div class="account__email">
        <div class="account-label">Email</div>
        <div class="account-value">Grabexpress@gmail.com</div>
    </div>
    <div class="account__type">
        <div class="account-label">Loại tài khoản</div>
        <div class="account-value">Doanh Nghiệp</div>
    </div>
    <div id="account-btn" class="account__btn">
        Đăng Bài
    </div>
</div>
