<div class="admin__blankspace"></div>
<div class="admin">
  <div class="admin__sidebar">
    <app-adminsidebar></app-adminsidebar>
  </div>
  <div id="admin-manage" class="admin-manage">
    <app-adminmanage></app-adminmanage>
  </div>
  <div id="admin-account" class="admin-account">
    <app-adminaccount></app-adminaccount>
  </div>
  <div id="admin-package" class="admin-package">
    <app-adminpackage></app-adminpackage>
  </div>
  <div id="admin-packageadd" class="admin-packageadd">
    <app-adminpackageadd></app-adminpackageadd>
  </div>
  <div id="admin-statistic" class="admin-statistic">
    <app-adminstatistic></app-adminstatistic>
  </div>
  <div id="admin-enterprise" class="admin-enterprise">
    <app-adminenterprise></app-adminenterprise>
  </div>
  <div id="admin-user" class="admin-user">
    <app-adminuser></app-adminuser>
  </div>
  <div id="admin-status" class="admin-status">
    <app-adminstatus></app-adminstatus>
  </div>
</div>
