<div>
    <p>
        Chính sách bảo mật thông tin cá nhân
    </p>
    <div>
        <span>
            
            1. Sự chấp thuận.
    <br>
    Bằng việc trao cho chúng tôi thông tin cá nhân của bạn, sử dụng sàn
     giao dịch thương mại điện tử Safago bạn đồng ý thông tin cá nhân của
    bạn sẽ được thu thập, sử dụng như được nêu trong Chính Sách này. Nếu
    bạn không đồng ý với Chính Sách này, bạn dừng cung cấp cho chúng
    tôi bất cứ thông tin cá nhân nào và/hoặc sử dụng các quyền như được
    nêu tại Mục 7 dưới đây.
    Chúng tôi bảo lưu quyền sửa đổi, bổ sung nhằm hoàn thiện đối với
    Chính Sách này vào bất kỳ thời điểm nào. Chúng tôi khuyến khích bạn
    thường xuyên xem lại Chính Sách Bảo Mật Thông Tin Cá Nhân này để
    có được những cập nhật mới nhất đảm bảo bạn biết và thực hiện quyền
    quản lý thông tin cá nhân của bạn.
    <br>
    <br>
    2. Mục đích thu thập.
    <br>
    Chúng tôi thu thập thông tin cá nhân chỉ cần thiết nhằm phục vụ cho các
    mục đích:
    - Đơn Hàng: để xử lý các vấn đề liên quan đến đơn đặt hàng của bạn.
    - Duy Trì Tài Khoản: để tạo và duy trình tài khoản của bạn với chúng
    tôi, bao gồm cả các chương trình khách hàng thân thiết hoặc các
    chương trình thưởng đi kèm với tài khoản của bạn.
    - Dịch Vụ Người Tiêu Dùng, Dịch Vụ Chăm Sóc Khách Hàng: bao
    gồm các phản hồi cho các yêu cầu, khiếu nại và phản hồi của bạn.
    - Cá Nhân Hóa: Chúng tôi có thể tổ hợp dữ liệu được thu thập để có
    một cái nhìn hoàn chỉnh hơn về một người tiêu dùng và từ đó cho
    phép chúng tôi phục vụ tốt hơn với sự cá nhân hóa mạnh hơn ở các
    khía cạnh, bao gồm nhưng không giới hạn: để cải thiện và cá nhân
    hóa trải nghiệm của bạn trên sàn giao dịch thương mại điện tử Safago để cải thiện các tiện ích, dịch vụ, điều chỉnh chúng phù hợp với
    các nhu cầu được cá thể hóa và đi đến những ý tưởng dịch vụ mới
     để phục vụ bạn với những giới thiệu, quảng cáo được điều chỉnh
    phù hợp với sự quan tâm của bạn.
    - An Ninh: cho các mục đích ngăn ngừa các hoạt động phá hủy tài
    khoản người dùng của khách hàng hoặc các hoạt động giả mạo
    khách hàng.
    - Theo yêu cầu của pháp luật: tùy quy định của pháp luật vào từng
    thời điểm, chúng tôi có thể thu thập, lưu trữ và cung cấp theo yêu
    cầu của cơ quan nhà nước có thẩm quyền.
    <br>
    <br>
    3. Phạm vi thu thập.
    <br>
    Chúng tôi thu thập thông tin cá nhân của bạn khi:
    - Bạn trực tiếp cung cấp cho chúng tôi.
    Đó là các thông tin cá nhân bạn cung cấp cho chúng tôi được thực
    hiện chủ yếu trên sàn giao dịch thương mại điện tử Safago bao gồm:
    họ tên, địa chỉ thư điện tử (email), số điện thoại, địa chỉ, thông tin
    đăng nhập tài khoản bao gồm thông tin bất kỳ cần thiết để thiết lập
    tài khoản ví dụ như tên đăng nhập, mật khẩu đăng nhập, ID/địa chỉ
    đăng nhập và câu hỏi/trả lời an ninh.
    - Bạn tương tác với chúng tôi.
    Chúng tôi sử dụng cookies và công nghệ theo dấu khác để thu thập
    một số thông tin khi bạn tương tác trên sàn giao dịch thương mại
    điện tử Safago
    - Từ những nguồn hợp pháp khác.
    Chúng tôi có thể sẽ thu thập thông tin cá nhân từ các nguồn hợp pháp
    khác.
    <br>
    <br>
    4.Thời gian lưu trữ.
    <br>
    Thông tin cá nhân của khách hàng sẽ được lưu trữ cho đến khi khách
    hàng có yêu cầu hủy bỏ hoặc khách hàng tự đăng nhập và thực hiện hủy
    bỏ. Trong mọi trường hợp thông tin cá nhân của khách hàng sẽ được
    bảo mật trên máy chủ của Safago.
    
    <br>
    <br>
    5. Không chia sẻ thông tin cá nhân khách hàng.
    <br>
    Chúng tôi sẽ không cung cấp thông tin cá nhân của bạn cho bất kỳ bên
    thứ ba nào, trừ một số hoạt động cần thiết dưới đây:
    - Các đối tác là bên cung cấp dịch vụ cho chúng tôi liên quan đến
    thực hiện đơn hàng và chỉ giới hạn trong phạm vi thông tin cần
    thiết cũng như áp dụng các quy định đảm bảo an ninh, bảo mật
    các thông tin cá nhân.
    - Chúng tôi có thể sử dụng dịch vụ từ một nhà cung cấp dịch vụ
    là bên thứ ba để thực hiện một số hoạt động liên quan đến sàn
    giao dịch thương mại điện tử Safago và khi đó bên thứ ba này
    có thể truy cập hoặc xử lý các thông tin cá nhân trong quá trình
    cung cấp các dịch vụ đó. Chúng tôi yêu cầu các bên thứ ba này
     tuân thủ mọi luật lệ về bảo vệ thông tin cá nhân liên quan và các
    yêu cầu về an ninh liên quan đến thông tin cá nhân.
    - Các chương trình có tính liên kết, đồng thực hiện, thuê ngoài
    cho các mục địch được nêu tại Mục 2 và luôn áp dụng các yêu
    cầu bảo mật thông tin cá nhân.
    - Yêu cầu pháp lý: Chúng tôi có thể tiết lộ các thông tin cá nhân
    nếu điều đó do luật pháp yêu cầu và việc tiết lộ như vậy là cần
    thiết một cách hợp lý để tuân thủ các quy trình pháp lý.
    - Chuyển giao kinh doanh (nếu có): trong trường hợp sáp nhập,
    hợp nhất toàn bộ hoặc một phần với công ty khác, người mua
    sẽ có quyền truy cập thông tin được chúng tôi lưu trữ, duy trì
    trong đó bao gồm cả thông tin cá nhân.
    <br>
    <br>
    6. An toàn dữ liệu.
    <br>
    Chúng tôi luôn nỗ lực để giữ an toàn thông tin cá nhân của khách hàng,
    chúng tôi đã và đang thực hiện nhiều biện pháp an toàn, bao gồm:
    - Bảo đảm an toàn trong môi trường vận hành: chúng tôi lưu trữ
    không tin cá nhân khách hàng trong môi trường vận hành an toàn
    và chỉ có nhân viên, đại diện và nhà cung cấp dịch vụ có thể truy
    cập trên cơ sở cần phải biết. Chúng tôi tuân theo các tiêu chuẩn
    ngành, pháp luật trong việc bảo mật thông tin cá nhân khách hàng.
    - Trong trường hợp máy chủ lưu trữ thông tin bị hacker tấn công
    dẫn đến mất mát dữ liệu cá nhân khách hàng, chúng tôi sẽ có
    trách nhiệm thông báo vụ việc cho cơ quan chức năng để điều
    tra xử lý kịp thời và thông báo cho khách hàng được biết.
    - Các thông tin thanh toán: được bảo mật theo tiêu chuẩn ngành.
    <br>
    <br>
    7. Quyền của khách hàng với thông tin cá nhân.
    <br>
    Khách hàng có quyền cung cấp thông tin cá nhân cho chúng tôi và có
    thể thay đổi quyết định đó vào bất cứ lúc nào.
    Khách hàng có quyền tự kiểm tra, cập nhật, điều chỉnh thông tin cá nhân
    của mình bằng cách đăng nhập vào tài khoản và chỉnh sửa thông tin cá
    nhân hoặc yêu cầu chúng tôi thực hiện việc này.
    <br>
    <br>
    8. Thông tin liên hệ.
    <br>
    Nếu bạn có câu hỏi hoặc bất kỳ thắc mắc nào về Chính Sách này hoặc
    thực tế việc thu thập, quản ly thông tin cá nhân của chúng tôi, xin vui
    lòng liên hệ với chúng tôi bằng cách:
    Gọi điện thoại đến hotline: 0845644566.
    Gửi thư điện tử đến địa chỉ email:  hotro.safago@gmail.com.
    <br>
    <br>
    9. Đơn vị thu thập và quản lý thông tin.
    <br>
    Safago
    <br>
    <br>
    10. Hiệu lực.
    <br>
    Chính sách bảo mật thông tin cá nhân này có hiệu lực từ 1/1/2021.
        </span>
    </div>
    
</div>
