<div class="statistic-title">Thống kê</div>
<div class="statistic-table">
    <div class="statistic-table--title">
        <div class="title-date">Ngày/Tháng/Năm</div>
        <div class="title-count">Số đơn</div>
        <div class="title-rate">Tỉ lệ thành công</div>
        <div class="title-earn">Tổng thu</div>
    </div>
    <div class="statistic-table--row">
        <app-partnerstatistic-row></app-partnerstatistic-row>
    </div>

    <div class="statistic-page">
        <img src="../../../assets/svg/image 107.svg" alt="">
        <div class="page-selected">1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
        <div>...</div>
        <img src="../../../assets/svg/image 108.svg" alt="">
    </div>
</div>
