<div class="package">
    <div class="package-tag__name" [innerText] = "package.Name">Gói người dùng 1</div>
    <div class="package-tag__content">
        <div class="package-tag__label">Ưu đãi: </div>
        <div class="package-tag__value" [innerText] = "package.Content">Giảm giá 20% khi đặt đơn hàng</div>
    </div>
    <div class="package-tag__valid">
        <div class="package-tag__label">Thời hạn: </div>
        <div class="package-tag__value" [innerText] = "package.Valid">1 năm</div>
    </div>
    <div class="package-tag__price">
        <div class="price-value" [innerText] = "package.Price">1.000.000</div>
        <div class="price-unit">vnđ</div>
    </div>
</div>
