<div class="sidebar">
    <div class="sidebar--title">
        <div class="sidebar--title__left">
            <img src="../../../assets/svg/NoneAvatar.svg" alt="" class="sidebar--title__img">
        </div>
        <div class="sidebar--title__right">
            <div class="sidebar--title__text">Tài khoản của</div>
            <div class="sidebar--title__name">Họ và tên</div>
        </div>
    </div>
    <div class="sidebar-account" id="sidebar-account">
        <button>
            <img src="../../../assets/svg/Infor.svg" alt="" class="sidebar--infoaccount__icon">
            <div class="sidebar--infoaccount__text">Thông tin tài khoản</div>
        </button>
    </div>
    <div class="sidebar-manage" id="sidebar-manage">
        <button>
            <img src="../../../assets/svg/Manage.svg" alt="" class="sidebar--order__icon">
            <div class="sidebar--order__text">Quản lý đơn hàng</div>
        </button>
    </div>
    <div class="sidebar-service" id="sidebar-service">
        <button>
            <img src="../../../assets/svg/Register.svg" alt="" class="sidebar--package__icon">
            <div class="sidebar--package__text">Đăng ký gói dịch vụ</div>
        </button>
    </div>
    <div class="sidebar-address" id="sidebar-address">
        <button>
            <img src="../../../assets/svg/Location.svg" alt="" class="sidebar--address__icon">
            <div class="sidebar--address__text">Sổ địa chỉ</div>
        </button>
    </div>
</div>