<!-- Modal -->
<div *ngIf="book" class="modal fade" id="XuatBienNhanModel" tabindex="-1" role="dialog"
  aria-labelledby="XuatBienNhanModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="XuatBienNhanModelLabel">Xuất Biên nhận sổ đoàn</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Thực hiện việc Xuất Biên nhận bạn sẽ nhận được email Biên nhận kê khai sổ đoàn của mình.
        <br />
        Biên bản sẽ được sự động gửi đến hộp thư điện tử của bạn tại:
        <input class="form-control my-0 py-1 amber-border" value="phamnhut21@gmail.com"
          type="text" #emailSendBienNhan placeholder="Nhập Địa chỉ email" aria-label="Nhập Địa chỉ email">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button  (click)="onXuatBienNhan(emailSendBienNhan.value)" type="button" class="btn btn-primary" data-dismiss="modal">Yêu cầu</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="book" class="modal fade" id="YeuCauChuyenSoModal" tabindex="-1" role="dialog"
  aria-labelledby="YeuCauChuyenSoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="YeuCauChuyenSoModalLabel">Yêu cầu chuyển sổ đoàn</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <form action="#">
              <input type="text" name="SID" hidden value="{{book.SID}}">
              <textarea ngModel class="form-control main" name="Content" type="text" rows="10"
                placeholder="Nhập nội dung yêu cầu chuyển sổ đoàn" required></textarea>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Yêu cầu</button>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="search-wrap py-5">
      <div class="input-group md-form form-sm form-2 pl-0">
        <input class="form-control my-0 py-1 amber-border" (keydown.enter)="onSearchMSSV($event.target.value)"
          type="text" #searchMSSV placeholder="Nhập Mã số Sinh viên" aria-label="Nhập Mã số Sinh viên">
        <div class="input-group-append" (click)="onSearchMSSV(searchMSSV.value)">
          <span class="input-group-text amber lighten-3"><i class="fas fa-search text-grey"
              aria-hidden="true"></i></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="main-body">
    <div class="row">
      <div *ngIf="book" class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <div class="mt-3">
                <h4>{{book.Name}}</h4>
                <p class="text-secondary mb-1">{{book.SID}}</p>
                <p class="text-muted font-size-sm">{{book.Faculty}}</p>
                <p class="text-muted font-size-sm">{{book.Class}}</p>
                  <button class="btn btn-primary mt-2 mr-2" data-toggle="modal" data-target="#XuatBienNhanModel">Xuất Biên
                    nhận</button>
                  <button class="btn btn-primary mt-2 mr-2" data-toggle="modal" data-target="#YeuCauChuyenSoModal">Yêu cầu
                    Chuyển</button>
                  <button class="btn btn-primary mt-2 mr-2">Follow</button>
                  <button class="btn btn-primary mt-2 mr-2">Follow</button>
              </div>
            </div>
            <hr class="my-4">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <h6 class="mb-0">Ngày sinh</h6>
                <span class="text-secondary">{{book.DOB}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <h6 class="mb-0">SĐT</h6>
                <span class="text-secondary">{{book.Phone}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <h6 class="mb-0">CMND/CCCD</h6>
                <span class="text-secondary">{{book.IC}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <h6 class="mb-0">Instagram</h6>
                <span class="text-secondary">bootdey</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-facebook me-2 icon-inline text-primary">
                    <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                  </svg>Facebook</h6>
                <span class="text-secondary">bootdey</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div *ngIf="histories" class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <div class="pl-3 row">
              <h4>Lịch sử lưu trữ</h4>
              <ul class="pr-3 timeline">
                <li *ngFor="let history of histories">
                  <a target="_blank" href="https://www.totoprayogo.com/#">{{history.PlaceID}}</a>
                  <a href="#" class="float-right">{{history.Time}}</a>
                  <p>{{history.Content}}</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>