<div class="packageadd-title">Gói dịch vụ</div>
<div class="packageadd-container">
    <div class="packageadd-name">
        <div class="packageadd-label">Tên gói</div>
        <input type="text" class="packageadd-value">
    </div>
    <div class="packageadd-discount">
        <div class="packageadd-label">Ưu đãi</div>
        <input type="text" class="packageadd-value">
    </div>
    <div class="packageadd-valid">
        <div class="packageadd-label">Thời hạn</div>
        <input type="text" class="packageadd-value">
    </div>
    <div class="packageadd-price">
        <div class="packageadd-label">Giá</div>
        <input type="text" class="packageadd-value">
    </div>
    <div id="packageadd-btn" class="packageadd-btn">Xác Nhận</div>
</div>