<main>
  <br>
  <div class="booking-logo">
    <img src="../../assets/svg/image 19.svg" alt="">
  </div>
  <div class="booking-content">
    <div class="booking-content-title">Grab Express</div>
    <div class="booking-content-star">
      <ul>
        <li>
          <i class="fa fa-star checked"></i>
          <i class="fa fa-star checked"></i>
          <i class="fa fa-star checked"></i>
          <i class="fa fa-star checked"></i>
          <i class="fa fa-star checked"></i>
          <span>Xem 1,1k đánh giá</span>
        </li>
      </ul>
    </div>
    <div class="booking-content-price">40.000 đ</div>
    <div class="booking-content-table">
      <div class="booking-table-label">
        <div class="table-type row1">Loại hàng:</div>
        <div class="table-size row1">Kích thước:</div>
        <div class="table-mass row1">Khối lượng:</div>
        <div class="table-deli-address row2">Đại chỉ lấy hàng:</div>
        <div class="table-recei-address row2">Đại chỉ giao hàng:</div>
        <div class="table-ship-type row1">Hình thức giao hàng:</div>
      </div>
      <div class="booking-table-value">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
          </div>
          <select class="custom-select row1" id="inputGroupSelect01">
            <option value="1">Bưu phẩm(Gói hàng)</option>
            <option value="2">Giấy tờ</option>
          </select>
        </div>
        <div class="size-value">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="cm" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <span class="X">X</span>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="cm" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <span class="X">X</span>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="cm" aria-label="Username" aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="mass-value">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Kg" aria-label="Username" aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="deli-address-value">
          <textarea name="" id="" cols="60" rows="7"></textarea>
        </div>
        <div class="deli-recei-value">
          <textarea name="" id="" cols="60" rows="7"></textarea>
        </div>
        <div class="ship-type-value">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
            </div>
            <select class="custom-select row1" id="inputGroupSelect01">
              <option value="1">Giao hàng tiêu chuẩn</option>
              <option value="2">Giao hàng nhanh(Trong 2h)</option>
              <option value="3">Giao hàng cấp tốc(Trong 1h)</option>
              <option value="4">Giao hàng cấp tốc(Trong 30p)</option>
            </select>
          </div>
        </div>



      </div>
    </div>
    <button style="width: 28%;margin: 25px ;" type="button" class="btn btn-success">Xác nhận</button>
  </div>
</main>
